<h3>General Account Information</h3>
<hr>
<ul class="account-list account-general-list">
  {{accountInfoItem name="First Name" value=first_name }}
  {{accountInfoItem name="Last Name" value=last_name }}
  {{accountInfoItem name="Email" value=email }}
  {{accountInfoItem name="Signin Provider" value=provider }}
</ul>
