<div class="row">
    <div class="signin-panel panel panel-default center-block">
        <div class="panel-body">
            <h3>Sign In</h3>
            <p>Sign in with one of the following services to access your Podcast Account.</p>
            <hr>
            <div id="signin_collection"></div>
        </div>
    </div>
</div>
